body {
	background-color: #557F2C;
}
#window {
	padding: 33px;
	background-color: #557F2C;
}

#table  {
	background-color: #7FBF42;
	width: 777px;
	height: 555px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.73);
}

.card-area {
	margin-left: 50px;
	height: 130px;
	border: 2px solid black;
	width: 90%;
	float: left;
}

#middle-box {
	width: 100%;
	margin: 33px;
}
#scoreboard {
	text-align: left;
	width: 222px;
	height: 80px;
	float: left;
	margin: 20px;
}

#message-area {
	width: 300px;
	height: 100px;
	float: left;
	border: 1px solid #2A4016;

}
#message-area p{
	padding: 10px;
	padding-bottom: 0px;
}


button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #054916;
  -webkit-border-radius: 6px / 22px;
  border-radius: 6px / 22px;
  font: normal normal bold 15px/normal "Lucida Console", Monaco, monospace;
  color: #ffffff;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #286300;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(0,3,10,1) ;
}

button {
	margin: 20px;
	float: left;
}

.title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 44px/1 "Allerta Stencil", Helvetica, sans-serif;
  color: #000000;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 1px 6px rgba(181,0,0,0.9) ;
}

#game-over-message {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#game-over-message div{
	background-color: #5f5;
	border: 5px solid green;
	border-radius: 5px;
	margin-top:15%;
	margin-left: auto;
	margin-right: auto;
	width:600px;
	height:200px;
}
#game-over-message div h1{
	margin-top: 60px;
	overflow: hidden;
	border: none;
	font: normal 60px/1 Arial Black, Gadget, sans-serif;
	color: rgba(216,255,0,1);
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis; 
	text-shadow: 1px 1px 1px rgba(255,227,150,1) ;
}
#win-message {
	display: none;
}
#lose-message {
	display: none;
}
#tie-message {
	display: none;
}

h1 {
	width: 100%;
	margin: 5px;
	margin-bottom: 15px;
	text-align: center;
	font-style: italic;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
dl dd, dl dt {
	display: inline;
}
dl dt {
	clear:left;
	float: left;
}
dl dd {
	margin-left: 10px;
	float: left;
}

.card { 
	height: 100px;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px;
	margin-right: 0px;
}
.card-back{
	display: inline-block;
	width: 64px;
	height: 94px;

	border: 3px solid white;
	border-radius: 3px;

	/*Copy pasted code from http://lea.verou.me/css3patterns/*/

	background-color: #f88;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 6px, 19px, 17px, 35px;
}

.clear-fix {
	clear: both;
}