#window {
	padding: 33px;
	background-color: #557F2C;
}

#table  {
	background-color: #7FBF42;
	width: 777px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.73);
}

.card-area {
	margin-left: 50px;
	height: 130px;
	border: 2px solid black;
	width: 90%;
	float: left;
}

#middle-box {
	width: 100%;
	overflow: hidden;
	margin: 33px;
}
#scoreboard {
	text-align: left;
	width: 222px;
	height: 80px;
	float: left;
	margin: 20px;
}

#message-area {
	width: 300px;
	height: 100px;
	float: left;
	border: 1px solid #2A4016;

}
#message-area p{
	padding: 10px;
	padding-bottom: 0px;
}
	
#buttons {

	/*background-color: purple;*/
	width: 100%;
	height: 100px;
	text-align: center;

}
#buttons li {
	display: inline;
	width: 80px;
	height: 30px;

	background-color: #ff8;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#buttons li:hover{
	background-color: #ffe;
}
h1 {
	width: 100%;
	text-align: center;
	font-style: italic;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
img {
	height: 180px;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px;
	margin-right: 0px;
}

.clear-fix {
	clear: both;
}