body {
	background-color: #557F2C;
}
#window {
	padding: 33px;
	background-color: #557F2C;
}

#table  {
	background-color: #7FBF42;
	width: 777px;
	height: 555px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.73);
}

.card-area {
	margin-left: 50px;
	height: 130px;
	border: 2px solid black;
	width: 90%;
	float: left;
}

#middle-box {
	width: 100%;
	margin: 33px;
}
#scoreboard {
	text-align: left;
	width: 222px;
	height: 80px;
	float: left;
	margin: 20px;
}

#message-area {
	width: 300px;
	height: 100px;
	float: left;
	border: 1px solid #2A4016;

}
#message-area p{
	padding: 10px;
	padding-bottom: 0px;
}


button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #054916;
  -webkit-border-radius: 6px / 22px;
  border-radius: 6px / 22px;
  font: normal normal bold 15px/normal "Lucida Console", Monaco, monospace;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #286300;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(0,3,10,1) ;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}

button:hover {
  -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,1) ;
  box-shadow: 0 0 0 3px rgba(0,0,0,1) ;
}

button:active {
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.76) inset;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.76) inset;
}

button {
	margin: 20px;
	float: left;
}

.title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 44px/1 "Allerta Stencil", Helvetica, sans-serif;
  color: #000000;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 1px 6px rgba(181,0,0,0.9) ;
}

/* The cat picture that is inside message-area */
.smiling-cat {
	display: none;
	position: relative;
	left: 150px;
	top: -55px;
}

/* Rotate 90 deg and fade to grayscale animation */
.tilt-grayscale-anim {
	display: inline-block;
	-webkit-animation: tilt-grayscale 1s 1 forwards;
	        animation: tilt-grayscale 1s 1 forwards;
}
@-webkit-keyframes tilt-grayscale{
	0%{
	-webkit-transform: 	rotate(0deg);
		-ms-transform: 	rotate(0deg);
		 	transform:	rotate(0deg);
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	}
	40%{
	-webkit-transform: 	rotate(0deg);
		-ms-transform: 	rotate(0deg);
		 	transform:	rotate(0deg);
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	}
	75%{
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	}
	100%{
	-webkit-transform: 	rotate(90deg);
		-ms-transform: 	rotate(90deg);
		 	transform:	rotate(90deg);
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	}
}

/* 360deg spinning animation */
.spin-anim {
	display: inline-block;
	-webkit-animation: spin 5s linear infinite;
	        animation: spin 5s linear infinite;
}
@-webkit-keyframes spin{
	0%{
	-webkit-transform: 	rotate(0deg);
		-ms-transform: 	rotate(0deg);
		 	transform:	rotate(0deg);
	}
	100%{
	-webkit-transform: 	rotate(360deg);
		-ms-transform: 	rotate(360deg);
		 	transform:	rotate(360deg);
	}
}

/* Fade from red to black text animation */
.bust-anim {
	-webkit-animation: bust 2s linear 1;
	        animation: bust 2s linear 1;
}

@-webkit-keyframes bust{
	0%{
		color: #f00;
	}
	100%{
		color: #000;
	}
}

/* Flashing black-white-black text animation */
.catjack-anim {
	-webkit-animation: catjack 0.5s ease-in-out 3;
	        animation: catjack 0.5s ease-in-out 3;
}

@-webkit-keyframes catjack{
	0%{
		color: #000;
	}
	50%{
		color: #fff;
	}
	100%{
		color: #000;
	}
}

h1 {
	width: 100%;
	margin: 5px;
	margin-bottom: 15px;
	text-align: center;
	font-style: italic;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
dl dd, dl dt {
	display: inline;
}
dl dt {
	clear:left;
	float: left;
}
dl dd {
	margin-left: 10px;
	float: left;
}

.card { 
	height: 100px;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px;
	margin-right: 0px;
}
.card-back{
	display: inline-block;
	width: 64px;
	height: 94px;

	border: 3px solid black;
	border-radius: 3px;

	background:
	linear-gradient(324deg, #FFCF6A 4%,   transparent 4%) -68px 60px,
	linear-gradient( 36deg, #FFCF6A 4%,   transparent 4%) 32px 60px,
	linear-gradient( 72deg, #000 8.5%, transparent 8.5%) 32px 60px,
	linear-gradient(288deg, #000 8.5%, transparent 8.5%) -68px 60px,
	linear-gradient(216deg, #000 7.5%, transparent 7.5%) -68px 40px,
	linear-gradient(144deg, #000 7.5%, transparent 7.5%) 32px 40px,

	linear-gradient(324deg, #FFCF6A 4%,   transparent 4%) -20px 93px,
	linear-gradient( 36deg, #FFCF6A 4%,   transparent 4%) 80px 93px,
	linear-gradient( 72deg, #000 8.5%, transparent 8.5%) 80px 93px,
	linear-gradient(288deg, #000 8.5%, transparent 8.5%) -20px 93px,
	linear-gradient(216deg, #000 7.5%, transparent 7.5%) -20px 73px,
	linear-gradient(144deg, #000 7.5%, transparent 7.5%) 80px 73px;
	background-color: #FFCF6A;
	background-size: 100px 100px;
}

.clear-fix {
	clear: both;
}